<div id="sidebar" class="4u">
    <section>
        <header class="major">
            <h2>New Things:</h2>
        </header>
        <ul class="default">
            <li><a href="#">Pellentesque lectus gravida blandit</a></li>
            <li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>
            <li><a href="#">Phasellus nibh pellentesque congue</a></li>
            <li><a href="#">Cras vitae metus aliquam pharetra</a></li>
            <li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>
            <li><a href="#">Phasellus nibh pellentesque congue</a></li>
            <li><a href="#">Cras vitae metus aliquam pharetra</a></li>
        </ul>
    </section>
    <section>
        <header class="major">
            <h2>You Might Try:...</h2>
        </header>
        <ul class="default">
            <li><a href="#">Pellentesque lectus gravida blandit</a></li>
            <li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>
            <li><a href="#">Phasellus nibh pellentesque congue</a></li>
            <li><a href="#">Cras vitae metus aliquam pharetra</a></li>
            <li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>
            <li><a href="#">Phasellus nibh pellentesque congue</a></li>
            <li><a href="#">Cras vitae metus aliquam pharetra</a></li>
        </ul>
    </section>
</div>
